<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lu.uni.bicslab.greenbot.android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustPan|adjustResize"
        android:theme="@style/AppTheme">

       <activity
            android:name=".ui.activity.scan.SigninSelectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_signin_select"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".ui.activity.onbord.OnbordStartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.scan.SigninActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_signin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.selectgrid.SelectGridOneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_signin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.selectgrid.SelectIGridTwoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_signin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.onbord.OnbordingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_onbording"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.itemmain.ItemDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_onbording"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.feedback.FeedbackMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_onbording"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.scanitem.ScanSelectedItemActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_onbording"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.scanitem.SelectscanActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_onbording"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.ui.WaitingPageActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.fragment.compare.CompareActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.activity.fromprofile.ProductConsultActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.fromprofile.ProductsScannerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.fromprofile.RecompensesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.fromprofile.RetourClientActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.fromprofile.TermesAndConditionActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
    </application>

</manifest>